{{> topHeader }}

<div class="index_header">
  <div class="header_logo nh_logo">
    <img src="/images/....jpg" alt="...">
    <hr>
    <span>...</span>
  </div>
  <div class="right">
    <a href="/about">About</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>
