{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="registered">
  <span>Social media with some additional features developed with MERN stack.</span>
</div>

{{> footer}}
